body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  /* margin: 0;
  padding: 0; */
}

.app-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10rem;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f7f7f7;
}

tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #459F6E;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.active {
  background-color: #39c377;
}

.pagination button:hover {
  background-color: #39c377;
}
